.lang-label {
    color: #254ec7;
    background-color: rgba(242, 244, 249, 0.5);
    margin-right: 3px;
}

#lang {
    font-size: 100%;
    margin-top: 6px;
}

#selected-lang > .lbl {
    margin-right: 3px;
}

#output {
    border: 1px solid #BBB;
    padding: 2px 4px;
    border-radius: 5px;
    color: #777;
    min-height: 28px;
}

#output.final {
    border-color: #5cb85c;
    border-width: 2px;
    color: #000;
}

#not-supported, #no-voices {
    display: none;
}

#selected-lang > .lbl,
.lang-name {
    display: inline-block;
    vertical-align: bottom;
}

#selected-lang > .lbl > .lang-name::first-letter,
.lang-name::first-letter {
    text-transform: uppercase;
}