body {
    font-family: Helvetica, Arial, sans-serif;
}

a[target="_blank"]::after {
    font-family:'Glyphicons Halflings';
    font-size: 8pt;
    content: " \e164";
    margin-left: -6px;
}

.navbar {
    margin-bottom: 20px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin: 5px 0;
}

.label {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4), 0 1px 1px rgba(0, 0, 0, 0.3);
    padding: 0.3em 0.6em;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5), 1px 0 1px rgba(0, 0, 0, 0.3);
}

.page-title {
    /* Shadows are visible under slightly transparent text color */
    color: rgba(51, 122, 183, 0.8);
    font-weight: bold;
    text-shadow: 1px 2px 0 #fff, 0 0 0 #000;
    padding-bottom: 20px;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page-title.no-shadow {
    text-shadow: none;
    color: rgba(51, 122, 183, 1);
}

/* Don't show shadows when selecting text */
::-moz-selection { background: #337ab7; color: #fff; text-shadow: 1px 1px 1px #000; }
::selection { background: #337ab7; color: #fff; text-shadow: 1px 1px 1px #000; }

.app-link {
    padding: 5px 0 5px 40px;
}

.eptica-links {
    background: transparent url("/img/epticalogo.png") no-repeat scroll left center / 28px auto;
    padding: 5px 0;
}

.links .app-link {
    display: inline;
}

#tomcat-link {
    background: transparent url("/img/tomcat.png") no-repeat scroll left center;
    background-size: 40px;
    padding-top: 5px;
}

#rb-link {
    background: transparent url("/img/rb-logo.png") no-repeat left center;
    background-size: 30px;
}

#elsrch-head-link {
    background: transparent url("/elsrch/head/_site/base/favicon.png") no-repeat 5px center;
    background-size: 20px;
    padding-left: 35px;
}

#elsrch-kopf-link {
    background: transparent url("/elsrch/kopf/favicon.ico") no-repeat 15px center;
    background-size: 20px;
    padding-left: 45px;
}

#elsrch-hq-link {
    padding-left: 20px;
}

#elsrch-hq-link::before {
    content: "\f0e4";
    font-family: FontAwesome;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    color: grey;
    padding-right: 5px;
}

#services-status {
    position: absolute;
    top: 60px;
    right: 10px;
    width: 380px;
}

#services-status .title {
    font-weight: bold;
    font-size: 16px;
    display: inline;
}

#tomcat-status-lastupdate,
#elsrch-status-status {
    float: right;
    font-size: 14px;
    margin-top: 2px;
    clear: both;
}

#elsrch-components {
    margin-top: 7px;
}

.elsrch-status-full-line {
    font-weight: bold;
}

.elsrch-status-full-line .label {
    display: inline-block;
    font-size: 95%;
    text-transform: uppercase;
    width: 100%;
}

.popover-content .table {
    margin-bottom: 0;
}

.popover-content > .table td {
    border: none;
}

.btn-down, .btn-down:hover, .btn-down:focus {
    background-color: #aaa;
    color: #fff;
}

#elsrch-status-status {
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5), 1px 0 1px rgba(0, 0, 0, 0.3);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-width: 1px;
}

#elsrch-indices tr :nth-child(2),
#elsrch-indices tr :nth-child(3) {
    text-align: right;
}

#elsrch-components .panel-heading {
    padding: 6px 10px;
}

#elsrch-components .panel-title {
    font-size: 15px;
}

#elsrch-components .panel-title > a {
    display: block;
}

#elsrch-components.panel-group .panel {
    margin-top: 0px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#elsrch-components.panel-group .panel + .panel {
    margin-top: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.status-refresh {
    margin-top: -5px;
    margin-left: -10px;
}

#tomcat-apps {
    font-size: 16px;
}

#tomcat-apps tr.success td span.glyphicon::before,
#essm-monitor-confs tr.success td span.glyphicon::before {
    content: "";
    color: green;
}

#tomcat-apps tr.danger td span.glyphicon::before,
#essm-monitor-confs tr.danger td span.glyphicon::before {
    content: "";
    color: red;
}

#essm-monitor-confs tr.active td span.glyphicon::before {
    content: "\e082";
    color: grey;
}

#tomcat-apps tr.warning td span.glyphicon::before {
    content: "";
    color: orange;
}

.left-part, .right-part {
    width: 50%;
}

.right-part {
    float: right;
}

.left-part {
    clear: both;
    float: left;
}

blockquote {
    border-left: 5px solid #ddd;
    display: inline-block;
    width: 100%;
}

.part-title {
    font-weight: bold;
    margin: -10px 0 10px -10px;
    font-size: 17.5px;
}

textarea#data {
    font-family: monospace;
}

#send {
    float: right;
    margin: 5px 0;
}

#apill-response > pre {
    height: 783px;
    white-space: pre-wrap;
}

#apillclient-content {
    height: calc(100vh - 77px);
}

#apillclient-content .panel {
    margin-bottom: 5px;
    height: 100%;
}

#apillclient-content .panel-body {
    height: 100%;
    overflow: hidden;
}

.apill-response-loading {
    float: right;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.fill-form-group {
    height: calc(100% - 150px);
}

#left-panel .fill-form-group,
#apill-response {
    height: 100%;
}

#apillclient-content .CodeMirror {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: calc(100% - 26px);
}

#apillclient-content .CodeMirror-lines {
    padding: 0;
}

.CodeMirror-activeline-background {
    background-color: #dae4ff;
}

div.CodeMirror span.CodeMirror-matchingbracket {
    color: white;
    background-color: #999;
}

#apillclient-content .CodeMirror-code > div:nth-child(even) {
    background-color: #f0f0f0;
}

#apillclient-content .CodeMirror-code > div:nth-child(odd) {
    background-color: #fdfdfd;
}

#error {
    position: absolute;
    z-index: 10;
    cursor: pointer;
}

#chat-urlparams {
    white-space: normal;
}

#header-result {
    margin-top: 5px;
}

#html-part, #text-part {
    font-family: monospace;
}

#essm-monitor .input-group-addon {
    font-weight: bold;
}

#essm-monitor-controls, #essm-status-loading {
    float: right;
}

@media (max-width: 620px) {
    #essm-monitor-controls, #essm-status-loading {
        float: inherit;
    }
}
#essm-status-loading {
    margin-right: 5px;
    margin-top: 7px;
    display: block;
}

#essm-seamconn .CodeMirror,
#essm-monitor .CodeMirror {
    height: auto;
}

#essm-monitor #date {
    color: #777;
}

#essm-seamconn button,
#essm-monitor button {
    outline: unset;
}

#essm-status-status {
    font-size: 14px;
    margin-top: 2px;
    vertical-align: baseline;
    font-weight: bold;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-width: 1px;
}

#monitor-essm-status.play span::before {
    content: "\e072";
}

#monitor-essm-status.pause span::before {
    content: "\e073";
}

#essm-monitor-confs {
    margin-top: 20px;
    width: 75%;
}

#essm-monitor-confs td {
    border: 1px solid #ccc;
}

.special-warning {
    display: inline-block;
    margin: 4px 15px 0px 15px;
    padding: 10px 15px;
}

.vergic-customer-page .pagecat {
    font-weight: bold;
}

.vergic-customer-page a.homepagelink {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.vergic-customer-page a.pagelink {
    display: block;
    margin-left: 25px;
}

#essm-seamconn .panel-body {
    padding: 0;
}

#essm-seamconn .panel-heading {
    padding: 5px 15px;
}

#essm-seamconn .panel-title {
    color: #555;
    font-weight: bold;
    font-size: 14px;
}

#essm-seamconn .seamconn-buttons form {
    display: inline-block;
}

#essm-seamconn #encrypted-scdata {
    font-family: monospace;
    word-wrap: break-word;
    word-break: break-all;
    padding: 3px 2px;
}

#essm-seamconn .input-group .input-group-addon:first-child,
#essm-seamconn .input-group input:first-child {
    padding-right: 2px;
}

#essm-seamconn .input-group .input-group-addon:last-child,
#essm-seamconn .input-group  input:last-child {
    padding-left: 2px;
}

/* Security experimentations pages */

#framed-frame {
    width: 770px;
    height: 300px;
    border: 1px solid #777;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
}

#js-sandbox {
    border: 1px solid #777;
    box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
    width: 30%;
    height: 300px;
    overflow: auto;
}

/* add a extra grid col class: xl */

.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 1600px) {
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    float: left;
  }
  .col-xl-12 {
    width: 100%;
  }
  .col-xl-11 {
    width: 91.66666667%;
  }
  .col-xl-10 {
    width: 83.33333333%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-8 {
    width: 66.66666667%;
  }
  .col-xl-7 {
    width: 58.33333333%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-5 {
    width: 41.66666667%;
  }
  .col-xl-4 {
    width: 33.33333333%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-2 {
    width: 16.66666667%;
  }
  .col-xl-1 {
    width: 8.33333333%;
  }
  .col-xl-pull-12 {
    right: 100%;
  }
  .col-xl-pull-11 {
    right: 91.66666667%;
  }
  .col-xl-pull-10 {
    right: 83.33333333%;
  }
  .col-xl-pull-9 {
    right: 75%;
  }
  .col-xl-pull-8 {
    right: 66.66666667%;
  }
  .col-xl-pull-7 {
    right: 58.33333333%;
  }
  .col-xl-pull-6 {
    right: 50%;
  }
  .col-xl-pull-5 {
    right: 41.66666667%;
  }
  .col-xl-pull-4 {
    right: 33.33333333%;
  }
  .col-xl-pull-3 {
    right: 25%;
  }
  .col-xl-pull-2 {
    right: 16.66666667%;
  }
  .col-xl-pull-1 {
    right: 8.33333333%;
  }
  .col-xl-pull-0 {
    right: auto;
  }
  .col-xl-push-12 {
    left: 100%;
  }
  .col-xl-push-11 {
    left: 91.66666667%;
  }
  .col-xl-push-10 {
    left: 83.33333333%;
  }
  .col-xl-push-9 {
    left: 75%;
  }
  .col-xl-push-8 {
    left: 66.66666667%;
  }
  .col-xl-push-7 {
    left: 58.33333333%;
  }
  .col-xl-push-6 {
    left: 50%;
  }
  .col-xl-push-5 {
    left: 41.66666667%;
  }
  .col-xl-push-4 {
    left: 33.33333333%;
  }
  .col-xl-push-3 {
    left: 25%;
  }
  .col-xl-push-2 {
    left: 16.66666667%;
  }
  .col-xl-push-1 {
    left: 8.33333333%;
  }
  .col-xl-push-0 {
    left: auto;
  }
  .col-xl-offset-12 {
    margin-left: 100%;
  }
  .col-xl-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-xl-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-xl-offset-9 {
    margin-left: 75%;
  }
  .col-xl-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-xl-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-xl-offset-6 {
    margin-left: 50%;
  }
  .col-xl-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-xl-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-xl-offset-3 {
    margin-left: 25%;
  }
  .col-xl-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-xl-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-xl-offset-0 {
    margin-left: 0;
  }
}